<% if signed_in? %>
  <div class="row">
    <aside class="span4">
      <section>
        <%= render 'shared/user_info' %>
      </section>
      <section>
        <%= render 'shared/micropost_form' %>
      </section>
    </aside>
    <div class="span8">
      <h3>Micropost Feed</h3>
      <%= render 'shared/feed' %>
    </div>
  </div>  
<% else %>
<div class = "center ">
    <h1 style="color:red">What is course rater?</h1>
</div>

<div class = "left hero-unit">
    <p style="color:red">
        As you know, there a lot of courses we could select in CMU while the number of courses we could choose is limited. Therefore, it's hard for students to choose a. My website is created in order to let students give evaluation of courses they have selected. It will not only give a reference of the course to others but also let students to communicate about the cour se with each other.
      </p>
</div> 
<div class = "center ">
  <%= link_to "See course's description", courses_path, class: "btn btn-large btn-blue"%>   
  <%= link_to "Give your evaluation", new_rater_path, class: "btn btn-large btn-green" %>
</div>
<% end %>
