<li>
  <span class="question1"> Question1:<%= rater.question1 %></span>
</li>
<li>
  <span class="question2">Question2:<%= rater.question2 %></span>
</li>
<li>
  <span class="question3">"Question3:"<%= rater.questiong3 %></span>
  <span class="question4">"Question4"<%= rater.question4 %></span>>
</li>
<br>
</br>
  <span class="timestamp">
    Posted <%= time_ago_in_words(rater.created_at) %> ago.
  </span>
