<% provide(:title, @user.name) %>

  <div class="row">
    <aside class="span4">
    
    <section>
        <div class="span8">
            <%= render 'follow_form' if signed_in? %>
        </div>
  
        <section>
            <%= render 'shared/user_info' %>
        </section>
        <section>
            <%= render 'shared/stats' %>
        </section>
        <section>
       <%= link_to "See course's description", courses_path, class: "btn btn-primary btn"%>
       </section>
      
        <section>
        <%= link_to "Give your evaluation", new_rater_path, class: "btn btn-primary btn" %>
        </section>
    </section>
    
    </aside>
    
    <div class="span8">
      <h3>Rater Feed</h3>
      <%= render 'shared/feed' %>
    </div>
  </div>  