<p id="notice"><%= notice %></p>

<p style="font-family:arial;color:blue;font-size:20px;">
<b>Course's Name:</b>
<br></br>
  <%= @course.name %>
</p>
<br></br>
<p style="font-family:arial;color:blue;font-size:20px;">
  <b>Course's Introduction:</b>
  <br></br>
  <%= @course.description %>
</p>
<br></br>
<% provide(:title, @course.name) %>

<div class="row">

  <aside>
   
  </aside>
  <div class="span8">
    <% if @course.raters.any? %>
      <p style="font-family:arial;color:blue;font-size:20px;">
        Students' Evaluation of this Course (<%= @course.raters.count %>)
      </p>
      <ol class="raters">
      <%= render @raters %>
      </ol>
      <%= will_paginate @raters %>
    <% end %>
  </div>
</div>





<!--%= link_to 'Edit', edit_course_path(@course) %-->
<%= link_to 'Back', courses_path %>